{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formularios.css') }}">
{% endblock %}

{% extends 'layout.html' %}
{% block content %}
    <h1>{{ modo }} Venda</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p>{{ form.data_venda.label }} {{ form.data_venda }}</p>
        <p>{{ form.dinheiro_venda.label }} {{ form.dinheiro_venda }}</p>
        <p>{{ form.deposito_venda.label }} {{ form.deposito_venda }}</p>
        <p>{{ form.cartao_venda.label }} {{ form.cartao_venda }}</p>
        <p>{{ form.cheques_venda.label }} {{ form.cheques_venda }}</p>
        <p>{{ form.pix_venda.label }} {{ form.pix_venda }}</p>
        <p>{{ form.tipo_venda.label }} {{ form.tipo_venda }}</p>
        <p>{{ form.cliente_id.label }} {{ form.cliente_id }}</p>
        <p>{{ form.total_venda.label }} {{ form.total_venda(disabled=True) }}</p>
        <p>{{ form.submit() }}</p>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dinheiroVenda = document.getElementById('dinheiro_venda');
            const depositoVenda = document.getElementById('deposito_venda');
            const cartaoVenda = document.getElementById('cartao_venda');
            const chequesVenda = document.getElementById('cheques_venda');
            const pixVenda = document.getElementById('pix_venda');
            const totalVenda = document.getElementById('total_venda');
            function calcularTotal() {
                const total = parseFloat(dinheiroVenda.value || 0) +
                    parseFloat(depositoVenda.value || 0) +
                    parseFloat(cartaoVenda.value || 0) +
                    parseFloat(chequesVenda.value || 0) +
                    parseFloat(pixVenda.value || 0);
                totalVenda.value = total.toFixed(2);
            }
            dinheiroVenda.addEventListener('change', calcularTotal);
            depositoVenda.addEventListener('change', calcularTotal);
            cartaoVenda.addEventListener('change', calcularTotal);
            chequesVenda.addEventListener('change', calcularTotal);
            pixVenda.addEventListener('change', calcularTotal);
            calcularTotal();
        });
    </script>
{% endblock %}
