{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formularios.css') }}">
{% endblock %}

{% extends 'layout.html' %}
{% block content %}
    <h1>{{modo}} Venda</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p>{{ form.data_venda.label }} {{ form.data_venda }}</p>
        <p>{{ form.dinheiro_venda.label }} {{ form.dinheiro_venda }}</p>
        <p>{{ form.deposito_venda.label }} {{ form.deposito_venda }}</p>
        <p>{{ form.cartao_venda.label }} {{ form.cartao_venda }}</p>
        <p>{{ form.cheques_venda.label }} {{ form.cheques_venda }}</p>
        <p>{{ form.pix_venda.label }} {{ form.pix_venda }}</p>
        <p>{{ form.tipo_venda.label }} {{ form.tipo_venda }}</p>
        <p>{{ form.cliente_id.label }} {{ form.cliente_id }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}


