{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formularios.css') }}">
{% endblock %}
{% extends 'layout.html' %}


{% block content %}
    <h1>{{ modo }}</h1>
    <form method="post" action="" >
        {{ form.hidden_tag() }}
        <p>{{ form.nome_fornecedor.label }} {{ form.nome_fornecedor }}</p>
        <p>{{ form.contato_fornecedor.label }} {{ form.contato_fornecedor }}</p>
        <p>{{ form.endereco_fornecedor.label }} {{ form.endereco_fornecedor }}</p>
        <p>{{ form.email_fornecedor.label }} {{ form.email_fornecedor }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
