{% extends 'layout.html' %}

{% block content %}
    <h2>Lista de Fornecedores</h2>

    <!-- Lista de Fornecedores -->
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Contato</th>
                <th>Endereço</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for fornecedor in fornecedores %}
                <tr>
                    <td>{{ fornecedor.id_fornecedor }}</td>
                    <td>{{ fornecedor.nome_fornecedor }}</td>
                    <td>{{ fornecedor.contato_fornecedor }}</td>
                    <td>{{ fornecedor.endereco_fornecedor }}</td>
                    <td>{{ fornecedor.email_fornecedor }}</td>
                    <td>
                        <a href="{{ url_for('fornecedores.editar_fornecedor', id=fornecedor.id_fornecedor) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}