{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formularios.css') }}">
{% endblock %}

{% extends 'layout.html' %}
{% block content %}
    <h1>{{modo}} Cliente</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p>{{ form.cliente_id.label }} {{ form.cliente_id }}</p>
        <p>{{ form.banco_cheque.label }} {{ form.banco_cheque }}</p>
        <p>{{ form.conta_cheque.label }} {{ form.conta_cheque }}</p>
        <p>{{ form.numero_cheque.label }} {{ form.numero_cheque }}</p>
        <p>{{ form.valor_cheque.label }} {{ form.valor_cheque }}</p>
        <p>{{ form.emitente_cheque.label }} {{ form.emitente_cheque }}</p>
        <p>{{ form.recebimento_cheque.label }} {{ form.recebimento_cheque }}</p>
        <p>{{ form.deposito_cheque.label }} {{ form.deposito_cheque }}</p>
        <p>{{ form.status.label }} {{ form.status }}</p>
        <p>{{ form.cliente_id.label }} {{ form.cliente_id }}</p>
        <p>{{ form.venda_id.label }} {{ form.venda_id }}</p>




        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}


