<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Fornecedores</title>
</head>
<body>
    <h1>Fornecedores</h1>
    <ul>
        {% for fornecedor in fornecedores %}
            <li>{{ fornecedor.nome_fornecedor }} - {{ fornecedor.contato_fornecedor }} - {{ fornecedor.email_fornecedor }}</li>
        {% endfor %}
    </ul>
</body>
</html>
