<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Fornecedor</title>
</head>
<body>
    <h1>Novo Fornecedor</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p>{{ form.nome_fornecedor.label }} {{ form.nome_fornecedor }}</p>
        <p>{{ form.contato_fornecedor.label }} {{ form.contato_fornecedor }}</p>
        <p>{{ form.endereco_fornecedor.label }} {{ form.endereco_fornecedor }}</p>
        <p>{{ form.email_fornecedor.label }} {{ form.email_fornecedor }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
