{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formularios.css') }}">
{% endblock %}

{% extends 'layout.html' %}
{% block content %}
    <h1>{{modo}} Cliente</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p>{{ form.nome_cliente.label }} {{ form.nome_cliente }}</p>
        <p>{{ form.telefone_cliente.label }} {{ form.telefone_cliente }}</p>
        <p>{{ form.tipo_cliente.label }} {{ form.tipo_cliente }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}


